h3{
    color: rgb(138, 5, 96);
    font-size: 50px;
}
p{
    font-size: 20px;
    color: rgb(187, 19, 49);
}
 .t_transform_uppercase{
    text-transform: uppercase ;
 }
 .t_transform_lowercase{
    text-transform: lowercase;
 }
 .t_transform_capitilize{
    text-transform: capitalize;
 }
 .t_center{
    text-align: center;
 }
 .t_right{
    text-align: right;
 }
 .t_left{
    text-align: left;
 }
 .t_decoration_underline{
    text-decoration: underline;
 }
 .t_decoration_overline{
    text-decoration: overline;
 }
 .t_decoration_line{
    text-decoration: line-through;
 }
 .t_decoration_all{
    text-decoration: underline overline line-through;
 }
 .t_indend{
    text-indent: 150px;
 }
 .letter_space{
    letter-spacing: 10px;
 }
 .word_space{
    word-spacing: 20px;
 }
 .line_height{
    line-height: 50px;
 }
 .t_shadow{
   font-size: 80px;
   text-align: center;
   color: rgb(215, 16, 196);
   text-shadow: 0px 5px 5px blueviolet;
 }
 .b_shadow{
   box-shadow: 10px 5px 5px purple;
   width: 250px;
 }
 .d_shadow{
   filter: drop-shadow(10px 5px 5px purple);
   width: 250px;
 }
 @media (max-width:320px){
            body{
                font-size: 20px;
                background:pink;
            }
            p{
               display: none;
            }
            h1,h3{
                color: rgb(17, 218, 244);
            }
            .img1{
               display: None;
            }
        }
         @media (min-width:320px) and (max-width:767px){
            body{
                font-size: 20px;
                background:red;
            }
            p{
               display: none;
            }
            h1,h3{
                color: rgb(17, 218, 244);
            }
            .img1{
               display: None;
            }
        }
         @media (min-width:1224px)and(max-width:1300px){
            body{
                font-size: 20px;
                background: rebeccapurple;
            }
            p{
                display: none;
            }
            h1,h3{
                color: violet;
                font-size: 100ps;
            }
            .img1{
                display: none;
            }
        }
        @media (min-width: 768px){
            body{
            background-color: green;
            }
        }
        @media (min-width: 1024px){
            body{
            background-color: yellow;
            }
        }
        @media (min-width: 1224px){
            body{
            background-color: burlywood;
            }
        }
        @media (min-width: 1824px){
            body{
            background-color: aqua;
            }
        }